body,
html {
	height: 100%;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background: peachpuff;
	background-size: auto;
}

#loader {
	margin-top: 250px;
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

.video {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.vids_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.video__iframe {
	width: 30rem;
	height: 18rem;
	margin: 5px 10px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

a {
	color: #000f1c;
	text-decoration: underline;
}

a:hover {
	color: #3498db;
}

input {
	font-size: larger;
}

#title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: black;
	padding: 10px;
	font-size: 40px;
}

h2 {
	max-width: 50%;
	margin-top: 0;
	margin-bottom: 0;
}
.title-p {
	margin-top: 10px;
	margin-bottom: 10px;
	flex-grow: 1;
	flex-basis: 1;
}

#img {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3em 0 3em 0;
	border-radius: 5px;
	flex-shrink: 1;
	max-width: 300px;
}

#img:hover {
	cursor: default;
}

#book-img {
	width: 100%;
	height: auto;
	border-radius: 5px;
	object-fit: contain;
	box-shadow: 3px 2px 2px gray;
}

#book-img:hover {
	cursor: pointer;
}

#paragraph {
	width: 100%;
	color: black;
	border-radius: 10px;
	font-size: 1.3em;
}

.btn {
	padding: 15px;
	color: black;
	font-size: 20px;
	background-color: #b9deff;
	border-color: rgb(124, 171, 212);
	box-shadow: 5px 3px 3px gray;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	transform: scale(1.1) perspective(1px);
	cursor: pointer;
}

#modal {
	display: flex;
	align-items: center;
	padding: 15px;
	max-width: 35%;
	height: 50%;
	overflow: hidden;
	margin: auto;
	border-radius: 7px !important;
	background: peachpuff !important;
	box-shadow: 10px 5px 5px gray;
}

#email-modal {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}

input {
	padding: 3px 3px;
}

#submit-btn {
	margin-top: 15px;
	padding: 15px;
	color: black;
	background-color: #b9deff;
	border-color: #b9deff;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

#submit-btn:hover {
	transform: scale(1.1) perspective(1px);
	cursor: pointer;
}

#close {
	align-self: flex-end;
	justify-self: flex-start;
	padding: 7px;
	color: black;
	background-color: #b9deff;
	border-color: #b9deff;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

#close:hover {
	transform: scale(1.1) perspective(1px);
	cursor: pointer;
}

#about {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 16px;
}

#about-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	background-color: #b9deff;
	border-radius: 3px;
	box-shadow: 3px 3px 3px gray;
	max-width: 50%;
}

#about-text p {
	margin: 10px 12px 20px 12px;
	text-indent: 0.3in;
}

#about-text h2 {
	margin-bottom: 0;
	margin-right: 60%;
}

#about-img {
	background-color: #b9deff;
	border-radius: 3px;
	box-shadow: 3px 3px 3px gray;
	padding: 3px 3px 0 3px;
	margin-right: 10px;
}
#about-img img {
	border-radius: 3px;
}

#about-img figcaption {
	text-align: center;
}

#img-text {
	font-size: smaller;
}

#download {
	margin-top: 15px;
}

#foot {
	width: 100%;
	background: #b9deff;
	text-align: center;
}

#never-share {
	margin-top: 10px;
}

#confirm-email {
	margin-top: 10px;
}

#horz {
	width: 900px;
	margin-top: 45px;
	border-top: 1px solid gray;
}

#hidden {
	display: none;
}

.image-btns-paragraph {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.sub-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.btns-paragraph {
	display: flex;
	max-width: 600px;
	padding: 1rem;
	flex-direction: column;
	justify-content: center;
}
.btns-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.who-is-this-for {
	display: flex;
	flex-direction: column;
	max-width: 60%;
	align-items: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 3em;
}
.card-container {
	padding: 3rem 1rem;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.card {
	border-radius: 0.5rem;
	background-color: aliceblue;
	outline: 1px solid black;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 22px;
}

.video-title {
	margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
	#paragraph {
		width: 60%;
	}

	#book-img {
		width: 55%;
	}
}

@media only screen and (max-width: 900px) {
	#paragraph {
		width: 75%;
	}

	#about-text h2 {
		margin-right: 35%;
	}

	#book-img {
		width: 75%;
	}

	#modal {
		height: 80%;
	}

	#horz {
		width: 80%;
	}

	#btn {
		font-size: 26px;
	}

	.btns-paragraph {
		align-items: center;
	}
	.btns-container {
		column-gap: 1rem;
	}
	.sub-container {
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	.sub-container > #paragraph {
		width: 100%;
	}

	.who-is-this-for {
		width: 85%;
	}
	.card-container {
		flex-direction: column;
		row-gap: 1rem;
	}
}

@media only screen and (max-width: 600px) {
	body {
		text-align: center;
	}
	h2 {
		max-width: 85%;
	}
	.video__iframe {
		width: 21rem;
		height: 12rem;
	}
	#modal {
		padding: 10px;
		max-width: 90%;
		height: 80%;
	}

	#submit-btn {
		font-size: larger;
	}

	#about {
		flex-direction: column;
		justify-items: center;
	}

	#about-img {
		margin-left: 10px;
	}

	#about-text {
		max-width: 75%;
	}

	#about-text h2 {
		margin-right: 0;
	}

	#about-text p {
		margin-right: 8px;
		text-align: center;
		text-indent: 0;
	}

	#book-img {
		width: 85%;
	}
}

@media only screen and (max-width: 400px) {
	#btn {
		font-size: 18px;
	}
}
